<% content_for :pageTitle, "Busca de produtos" %>
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Lista de produtos retornados na busca</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
				<i class="fa fa-minus"></i>
			</button>
		</div>
	</div>
	<div class="box-body">
	  	<div class="row">
			<div class="col-lg-12">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Preço</th>
							<th>Quantidade</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<%= render partial: "produto", collection: @produtos %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>c