<% content_for :pageTitle, "Departamentos - Editar" %>

<% count = 0 %>
<% errorMessage = "<div class=\"alert alert-danger alert-dismissible\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">×</button><i class=\"icon fa fa-info\"></i> Alguma coisa deu errado! Segue a lista de erros abaixo: <br>" %>
<% @produto.errors.full_messages.each do |message| %>
	<% count = count + 1 %>
	<% errorMessage += "[ERRO#{count}]: #{message} <br>" %>
<% end %>
<% errorMessage += "</div>" %>
<% if count != 0 %>
	<%= errorMessage.html_safe %>
<% end %>

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Editar o produto</h3>
		<div class="box-tools pull-right">
			<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
		</div>
	</div>
	<%= render "form" %>
</div>

